BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
  AlignFunctionPointers: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AlignCompound: true
  AcrossComments: false
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowAllArgumentsOnNextLine: false
IndentCaseLabels: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: true
  AtStartOfFile: false
MaxEmptyLinesToKeep: 2
RemoveEmptyLinesInUnwrappedLines: true
RemoveParenthesesStyle: MultipleParentheses
RemoveSemicolon: true
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: true
SpaceBeforeOperatorKeyword: true
PointerAlignment: Right
SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon : false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
UseTab: Never
AlignArrayOfStructures: Right
IndentGotoLabels: true
