[submodule "primary/NonSecure/libraries/logging"]
	path = primary/NonSecure/libraries/logging
	url = https://github.com/ben5049/logging
    branch = main
[submodule "primary/NonSecure/libraries/nanopb"]
	path = primary/NonSecure/libraries/nanopb
	url = https://github.com/nanopb/nanopb
    branch = master
[submodule "primary/NonSecure/libraries/phy-drivers"]
	path = primary/NonSecure/libraries/phy-drivers
	url = https://github.com/ben5049/phy-drivers
    branch = main
[submodule "primary/NonSecure/libraries/zenoh-pico"]
	path = primary/NonSecure/libraries/zenoh-pico
	url = https://github.com/eclipse-zenoh/zenoh-pico
    branch = main
[submodule "primary/NonSecure/libraries/sja1105"]
	path = primary/NonSecure/libraries/sja1105
	url = https://github.com/ben5049/sja1105
    branch = main
