build
mx.scratch
!.settings
.cache
MXTmpFiles

NonSecure/Core
NonSecure/*.ld
NonSecure/mx-generated.cmake

Secure/Core
Secure/*.ld
Secure/mx-generated.cmake

Secure_nsclib/secure_nsclib.o

.vscode/c_cpp_properties.json
.clangd